<section>
  <div>
    <h2>Sign up</h2>
    <input type="text" #emailSignup placeholder="{{EMAIL_PLACEHOLDER}}" />
    <input type="text" #passwordSignup placeholder="{{PASSWORD_PLACEHOLDER}}" />
    <button (click)="onSignUp(emailSignup.value,passwordSignup.value)">Sign up</button>
  </div>

  <div>
    <h2>Sign In</h2>
    <input type="text" #email placeholder="{{EMAIL_PLACEHOLDER}}" />
    <input type="text" #password placeholder="{{PASSWORD_PLACEHOLDER}}" />
    <button (click)="onSignIn(email.value,password.value)">Sign in</button>
  </div>
</section>
